<div class="container default-form">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="title">Apoiar Projeto</h2>
      <%= render 'form', resource: @donation, project: @project %>
    </div>
  </div>
</div>
