<%= form_tag(find_projects_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
  <%= text_field_tag 'search', '', placeholder: "Encontre projetos...", class: "form-control"  %>
  <button class="btn btn-catarsinho" type="submit"><%= fa_icon "search" %></button>
<% end %>