/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome";

$secondaryColor: #edc10c;
$mainColor: #7eb7d6;
$mainFont: 'Georgia', sans-serif;

body {
  padding-bottom: 100px;
  background-color: #7eb7d6;
}

#error_explanation {
  h2{
    font-size: 1.5em;
  }
  @extend .alert;
  @extend .alert-danger;
}

#navbar-c {
  background-color: white;
  font-family: $mainFont;
  margin-bottom: 50px;
  padding: 5px 20px 5px 20px;

  .img-nav {
    width: 40px;
  }

  .navbar-brand {
    padding: 0 !important;
  }

  .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
  }

  a {
   color: $mainColor;
  }
  a:hover {
    color: $secondaryColor;
  }
}

.btn-catarsinho {
  color: $mainColor;
  background-color: white;
}
.btn-catarsinho:hover {
  color: white;
  background-color: $secondaryColor;
}

.btn-outline-secondary {
  border: 0 !important;
  color: white;
}
.btn-outline-secondary:hover {
  background-color: $secondaryColor !important;
}

.default-form {
  .title {
    margin-bottom: 20px;
    color: white;
  }

  a {
    color: white;
  }
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}
